:root{
    --soft-color:#f4f4f9;
    --yellow:#ebc42a;
    --white:#fafafa;
    --black:#1c1c1c;
    --sm:12px;
    --md:16px;
    --lg:20px;
}

*{
    margin:0;
    padding: 0
}
body{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--black);
}
h1{
    color: var(--yellow);
    font-family:"Bebas Neue";
    text-align: center;
    font-size: 90px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.card {
    
    width: 200px;
    height: 254px;
    background: var(--black);
    border-radius: 15px;
    box-shadow: 1px 5px 60px 0px #2d2d2e98;
   }
   
   .card .card-border-top {
    width: 60%;
    height: 3%;
    background: var(--yellow);
    margin: auto;
    border-radius: 0px 0px 15px 15px;
   }
   
   .card span {
    font-weight: 600;
    color: var(--white);
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 16px;
   }
   
   .card .job {
    font-weight: 400;
    color: var(--yellow);
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 12px;
   }
   
   .card .img {
    width: 70px;
    height: 80px;
    background: var(--orange);
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
   }
   
   .card button {
    padding: 8px 16px;
    display: inline-block;
   
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    background: var(--yellow);
    color: white;
    font-weight: 600;
    cursor: pointer;
   }
   
   .card button:hover {
    background: #d6ad0a;
   }
   .img img{
    width: 70px;
    height: 80px;
    border-radius: 15px;
    object-fit: cover;
   }
   .container-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
   }
   header{
    background-color: var(--black);
    padding: 4px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   #button-pay{
    padding: 8px 16px;
    display: inline-block;
   align-self: center;
   width: 200px;
    border-radius: 8px;
    border: none;
    background: var(--yellow);
    color: white;
    font-weight: 600;
    cursor: pointer;
   }
   #container-empleados>div{
    display: grid;
    width: 100%;
    margin-top: 50px;
    padding-top: 24px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 24px;
    
   
   }
   #container-empleados{
    
    background-color: var(--black);
   }
   #modal{
    margin: auto;
    background-color: var(--black);
    padding: 24px;
    border: nones;
    width: 300px;
    border-radius: 15px;
    max-width: 360px;
   

   }

  
   #close{
    width: 30px;
    height: 30px;
    cursor: pointer;
   }
   #container-close{
   display: flex;
   justify-content: flex-end;
   }
   #modal::backdrop{
        background-color: rgba(0, 0, 0, .55);
   }
   
   #form-pay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    gap: 32px;
    color: var(--white);
   }
   #form-pay h2{
    text-align: center;
    margin-top: 0px;
   }
   .checkout{
    display: flex;
    justify-content: space-around;
   }
   .checkout p:nth-child(1){
    font-size: 14px;
    font-weight: 500;
   }
   .checkout p:nth-child(2){
   
    font-weight: 300;
   }
   #container-dialog{
    display: flex;
    justify-content: center;
   }
   .total{
    display: flex;
    justify-content: space-around;
    padding-top: 12px;
    margin-top: 8px;
    border-top: var(--white) 1px solid;
   }
   .total p:nth-child(1){
    font-size: 14px;
    font-weight: 700;
   }
   .total p:nth-child(2){
   
    font-weight: 500;
   }
   .group {
    position: relative;
  
   }
   
   .input {
    color: var(--white);
    font-size: 14px;
    margin: auto;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid var(--white);
    background: transparent;
   }
   
   .input:focus {
    outline: none;
   }
   
   label {
    color: var(--white);
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 40px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: var(--yellow);
   }
   
   .bar {
    position: relative;
    display: block;
    width: 200px;
   }
   

   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
   
   .input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 80;
    pointer-events: none;
    opacity: 0.5;
   }
   .coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
  }
  
  .coolinput label.text {
    font-size: 0.75rem;
    color: var(--yellow);
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: var(--black);
    width: fit-content;
  }
  
  .coolinput input[type=text].input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px var(--yellow) solid;
    border-radius: 5px;
    background: var(--black);
  }
  
  .coolinput input[type=text].input:focus {
    outline: none;
  }
  #filters{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    background-color: var(--black);


  }
  #container-filters{
    padding-top: 24px;
    width: 50%;
    margin: auto;

  }
  #filters >h3{
    color: var(--yellow);
    font-family:"Bebas Neue";
    text-align: center;
    font-size: 90px;
  }
  #filters div:nth-child(3){
    display: flex;
    flex-direction: row;
    

  }
#button-add-employee{
    padding: 8px 8px;
    border-radius: 8px;
    height: fit-content;
    border: none;
    background: var(--yellow);
    color: white;
    font-weight: 600;
    cursor: pointer;
}
  #filter {
    padding: 8px 16px;
    display: inline-block;
   align-self: center;
   width: 110px;
    border-radius: 0 8px 8px 0px;
    border: none;
    background: var(--yellow);
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  .container-title{
    background-color: var(--white);
    width: 100%;
  }
  #all {
    padding: 8px 16px;
    display: inline-block;
   align-self: center;
   width: 110px;
    border-radius: 8px 0 0 8px;
    border: none;
    background: var(--yellow);
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  .form-title{
    font-size: 50px;
   }

   li {
    padding: 12px;
    line-height: 1.5;
    text-align: center;
   }
   .error{
    color: rgb(187, 44, 44);
  }
  

   @media (min-width:450px){
    #container-empleados>div{
        grid-template-columns: repeat(auto-fill,200px) 
    }

    
}

header img{
    width: 150px;
    height: 50px;
    padding: 8px;
}
   @media (max-width:1199px) {
    .container-form div:nth-child(2){
        display: none;
       }
    .form-title{
        display: none;
       }

   }
   @media (min-width:1200px){
    #button-add-employee{
        display: none;
    }

    #modal{
      width: 500px;
    }

    main{
        display: flex;
        height: 100vh;
      }


    #container-empleados{
        width: 70%;
        
    }
    .container-form{
        display: flex;
        justify-content: center;
        height: 100vh;
        
       
        
       }
       .container-title h1{
        font-size: 130px;
       }
       .container-form div:nth-child(2){
        
        background-color: var(--white);
       
        border: nones;
        width: 50%;
       
       
       }
       .container-title{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
       }
   }